logs
*.log
npm-debug.log*

pids
*.pid
*.seed
*.pid.lock

.npm

api/nodejs/node_modules
api/nodejs/dist
database/mysql/data
jspm_packages

dist

.npm-cache
.eslintcache
.node_repl_history

*.tgz

.yarn-integrity

.env

.vscode
.idea

.DS_Store
Thumbs.db

.next

.nuxt
dist

.pm2/logs/

.DS_Store

.vscode/
